.heading {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.heading-title {
  margin: 0 auto;
  width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.content {
  padding-top: 94px;
}
.content-list {
  display: flex;
  justify-content: space-between;
}
.content-item {
  list-style: none;
}
.content-item:not(:last-child) {
  padding-right: 30px;
}

.content-text {
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.content-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.gallery-title {
  padding-top: 94px;
  padding-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.gallery-list {
  display: flex;
  justify-content: space-between;
}
.gallery-item {
  list-style: none;
}
.gallery-item > img {
  display: block;
}
.gallery-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 50px;
}

.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
