.heading {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header.jpg);

  max-width: 1600px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.heading-title {
  margin: 0 auto;
  width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.content {
  padding-top: 94px;
}
.content-list {
  display: flex;
  justify-content: space-between;
}
.content-item {
  list-style: none;
}
.content-item:before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--background-white-color);
  background-position: center;
  background-size: 70px 70px;
  background-repeat: no-repeat;
}
.content-item:nth-child(1):before {
  background-image: url(../images/antenna\ .svg);
}
.content-item:nth-child(2):before {
  background-image: url(../images/clock\ .svg);
}
.content-item:nth-child(3):before {
  background-image: url(../images/diagram\ .svg);
}
.content-item:nth-child(4):before {
  background-image: url(../images/astronaut.svg);
}
.content-item:not(:last-child) {
  margin-right: 30px;
}

.content-text {
  margin-top: 30px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.content-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
}
.gallery-item {
  list-style: none;
}
.gallery-item > img {
  display: block;
}
.gallery-item:not(:last-child) {
  margin-right: 30px;
}

.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.team-cards {
  display: flex;
}
.team-card {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card:last-child {
  margin-right: 0;
}
.team-text {
  padding-top: 30px;
}
.team-name {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-icon {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 16px 32px 30px;
}

.item-icon {
  width: 44px;
  height: 44px;
  padding: 12px;
}

.item-icon:hover,
.item-icon:focus {
  background-color: var(--accent-color);
  border-radius: 50px;
}
.item-svg {
  height: 20px;
  width: 20px;
  fill: var(--border-color-gray);
}
.item-link {
  display: inline-block;
}
.item-icon:hover .item-svg,
.item-icon:focus .item-svg {
  fill: var(--primary-white-color);
}

.clients-list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-color-gray);
  border-radius: 4px;
  padding: 16px 32px;
}
.clients-item:hover,
.clients-item:focus {
  border: 1px solid var(--accent-color);
}

.clients-item:hover .clients-icon,
.clients-item:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--border-color-gray);
}
