/*PORTFOLIO-CONTENT  */
.portfolio-content {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid var(--border-color-line);
}
.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.portfolio-list:hover .portfolio-item {
  transform: translateY(0);
}
.portfolio-img {
  display: block;
}
.img-text {
  position: absolute;
  top: 0;
  left: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  background-color: var(--background-blue-color);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-wrap:hover .img-text {
  transform: translateY(0);
}
.portfolio-item:hover .img-text {
  transform: translateY(0);
}
.portfolio-text {
  padding: 20px 24px;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--border-color);

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--border-color);
}
.portfolio-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* BUTTON */

.filter {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-link:hover,
.filter-link:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter-link:not(:last-child) {
  margin-right: 8px;
}
.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  outline: none;
}
