.header {
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and(min-width:768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__info {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and(min-width:1200px) {
    align-items: baseline;
  }
}

.header__top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and(min-width:1200px) {
    display: inline-block;
  }
}
