:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --contact-white-color: rgba(255, 255, 255, 0.6);
  --border-color: #eee;
  --border-color-black: #000;
  --border-color-line: #ececec;
  --border-color-gray: #afb1b8;
  --background-white-color: #f5f4fa;
  --background-black-color: #2f303a;
  --background-blue-color: rgba(33, 150, 243, 0.9);
}
